
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Listado de Presupuestos
			</h3>
			<div class="row">
				<div class="col-md-12">
		          <a class="btn btn-sm btn-info" ui-sref="PresupuestosCrear">Crear Presupuesto</a>
		          <a class="btn btn-sm btn-info" ui-sref="PresupuestosDetalle">Detalle Presupuesto</a>
		          <a class="btn btn-sm btn-info" ui-sref="PresupuestosListar">Eliminar Presupuesto</a>
		          <br><br>
					<div id="gridPresupuestosListar" ui-grid="gridPresupuestosListar" ui-grid-selection class="grid"></div>
				</div>
			</div>
		</div>
	</div>
</div>
