<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Listado de Proyectos
			</h3>
			<div class="row">
				<div class="col-md-12">
		          <!-- <a class="btn btn-sm btn-primary" ui-sref="ProyectosListar">Crear Proyecto</a> -->
		          <a class="btn btn-sm btn-primary" ui-sref="ProyectosDetalle">Detalle de Proyecto</a>
		          <a class="btn btn-sm btn-primary" ui-sref="ProyectosListar">Suspender Proyecto </a>
		          <a class="btn btn-sm btn-primary" ui-sref="ProyectosListar">Abandonar Proyecto </a>
		          <br><br>
					<div id="gridProyectosListar" ui-grid="gridProyectosListar" ui-grid-selection class="grid"></div>
				</div>
			</div>
		</div>
	</div>
</div>
